


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit.woff2") format("woff2"), url("../fonts/Larsseit.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.wofff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/latoblack.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/latoblackitalic.woff2") format("woff2"), url("../fonts/latoblackitalic.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: italic;
}



body {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}


.title {
	font-family: "Larsseit", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 24px;

}

.label {
	font-family: "Lato", Arial, Helvetica, sans-serif ;
	font-style: italic;
	color: rgb(51, 160, 197)
}
.navigation{
	font-family: "Lato", Arial, Helvetica, sans-serif;
	font-weight: 900;

}
h1{
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 32px;
	color: rgb(255, 0, 0);
	font-weight: 700;
	
}
h2{
		font-family: "Roboto", Arial, Helvetica, sans-serif;
			font-size: 22px;
			color: rgb(7, 94, 208);
			font-weight: 400;

}

a{
	color: rgb(79, 84, 227);
}

.text a{
	color: rgb(214, 13, 113);
}

.navigation a{
	color: rgb(0, 193, 10);
}

.list	p{
	color: rgb(141, 141, 0);
}

.text.description{
	color: yellowgreen;
}

